<div class="main-login">
  <div class="container-login">
    <img src="images/kiniela-logo.png" alt="" class="logo">
        <form action="/login" method="POST">
         
            <input class="input-login" type="text" name="username" placeholder="User">
            <input class="input-login" type="password" name="password" placeholder="Password">
         
            <input class="submit-login" type="submit" value="LOG IN">
        
        </form>
<a href="/auth/google"><img class="google" width="400" height="auto" src="images/google.svg" alt=""></a>
<a href="/auth/facebook"><img width="400" height="auto" src="images/fb.svg" alt=""></a>

       
           <a class="login-signup" href="/signup">SIGN UP</a>
         
  </div>
</div>
      
        
       
     

  