<div class="main-login">
  <div class="container-login">
    <img src="images/kiniela-logo.png" alt="" class="logo">
        <form action="/signup" method="POST">
         
            <input class="input-login" type="text" name="username" placeholder="User">
            <input class="input-login" type="password" name="password" placeholder="Password">
            <input class="submit-login" type="submit" value="SIGN UP">
        
        </form>

       
           <a class="login-signup login-su" href="/login">LOG IN</a>
         
  </div>
</div>