<div class="index-form">
    <form action="" method="POST">
        <label>Betis - Mallorca</label>
        <input type="radio" id="match_1_1" name="match_1" value="1">
        <input type="radio" id="match_1_x" name="match_1" value="x">
        <input type="radio" id="match_1_2" name="match_1" value="2">
        <br>
        <label>Celta - Leganés</label>
        <input type="radio" id="match_2_1" name="match_2" value="1">
        <input type="radio" id="match_2_x" name="match_2" value="x">
        <input type="radio" id="match_2_2" name="match_2" value="2">
        <br>
        <label>Barcelona - Eibar</label>
        <input type="radio" id="match_2_1" name="match_2" value="1">
        <input type="radio" id="match_2_x" name="match_2" value="x">
        <input type="radio" id="match_2_2" name="match_2" value="2">
        <br>
        <input type="submit" value="BET">
    </form>
</div>
