<div class="index-form">
    
    <form action="/" method="POST">
    <h2 id="round"></h2>
        <label id="match1" class="match"></label>
        <input type="radio" id="match_1_1" name="match_1" value="1">
        <input type="radio" id="match_1_x" name="match_1" value="X">
        <input type="radio" id="match_1_2" name="match_1" value="2">
        <br>
        <label id="match2" class="match"></label>
        <input type="radio" id="match_2_1" name="match_2" value="1">
        <input type="radio" id="match_2_x" name="match_2" value="X">
        <input type="radio" id="match_2_2" name="match_2" value="2">

        <br>
        <label id="match3" class="match"></label>
        <input type="radio" id="match_3_1" name="match_3" value="1">
        <input type="radio" id="match_3_x" name="match_3" value="X">
        <input type="radio" id="match_3_2" name="match_3" value="2">
        <br>

        <label id="match4" class="match"></label>
        <input type="radio" id="match_2_1" name="match_4" value="1">
        <input type="radio" id="match_2_x" name="match_4" value="X">
        <input type="radio" id="match_2_2" name="match_4" value="2">
        <br>

        <label id="match5" class="match"></label>
        <input type="radio" id="match_2_1" name="match_5" value="1">
        <input type="radio" id="match_2_x" name="match_5" value="X">
        <input type="radio" id="match_2_2" name="match_5" value="2">
        <br>

        <label id="match6" class="match"></label>
        <input type="radio" id="match_2_1" name="match_6" value="1">
        <input type="radio" id="match_2_x" name="match_6" value="X">
        <input type="radio" id="match_2_2" name="match_6" value="2">
        <br>

        <label id="match7" class="match"></label>
        <input type="radio" id="match_2_1" name="match_7" value="1">
        <input type="radio" id="match_2_x" name="match_7" value="X">
        <input type="radio" id="match_2_2" name="match_7" value="2">
        <br>

        <label id="match8" class="match"></label>
        <input type="radio" id="match_2_1" name="match_8" value="1">
        <input type="radio" id="match_2_x" name="match_8" value="X">
        <input type="radio" id="match_2_2" name="match_8" value="2">
        <br>

        <label id="match9" class="match"></label>
        <input type="radio" id="match_2_1" name="match_9" value="1">
        <input type="radio" id="match_2_x" name="match_9" value="X">
        <input type="radio" id="match_2_2" name="match_9" value="2">
        <br>

        <label id="match10" class="match"></label>
        <input type="radio" id="match_2_1" name="match_10" value="1">
        <input type="radio" id="match_2_x" name="match_10" value="X">
        <input type="radio" id="match_2_2" name="match_10" value="2">
        <br>
        <input type="submit" value="BET">

        {{!-- Hidden inputs for create the game --}}
        <input type="hidden" name="round" value="">
        <input type="hidden" name="match1" value="">
        <input type="hidden" name="match2" value="">
        <input type="hidden" name="match3" value="">
        <input type="hidden" name="match4" value="">
        <input type="hidden" name="match5" value="">
        <input type="hidden" name="match6" value="">
        <input type="hidden" name="match7" value="">
        <input type="hidden" name="match8" value="">
        <input type="hidden" name="match9" value="">
        <input type="hidden" name="match10" value="">
    </form>

    <button id="callTheAPI">Call the API</button>
    <button id="saveGame">Save the Game</button>
</div>
