<div class="index-form">
    <h2 id="round"></h2>
    <form action="" method="POST">
        <label class="match"></label>
        <input type="radio" id="match_1_1" name="match_1" value="1">
        <input type="radio" id="match_1_x" name="match_1" value="X">
        <input type="radio" id="match_1_2" name="match_1" value="2">
        <br>
        <label class="match"></label>
        <input type="radio" id="match_2_1" name="match_2" value="1">
        <input type="radio" id="match_2_x" name="match_2" value="X">
        <input type="radio" id="match_2_2" name="match_2" value="2">

        <br>
        <label class="match"></label>
        <input type="radio" id="match_3_1" name="match_3" value="1">
        <input type="radio" id="match_3_x" name="match_3" value="X">
        <input type="radio" id="match_3_2" name="match_3" value="2">
        <br>

        <label class="match"></label>
        <input type="radio" id="match_2_1" name="match_2" value="1">
        <input type="radio" id="match_2_x" name="match_2" value="X">
        <input type="radio" id="match_2_2" name="match_2" value="2">
        <br>

        <label class="match"></label>
        <input type="radio" id="match_2_1" name="match_2" value="1">
        <input type="radio" id="match_2_x" name="match_2" value="X">
        <input type="radio" id="match_2_2" name="match_2" value="2">
        <br>

        <label class="match"></label>
        <input type="radio" id="match_2_1" name="match_2" value="1">
        <input type="radio" id="match_2_x" name="match_2" value="X">
        <input type="radio" id="match_2_2" name="match_2" value="2">
        <br>

        <label class="match"></label>
        <input type="radio" id="match_2_1" name="match_2" value="1">
        <input type="radio" id="match_2_x" name="match_2" value="X">
        <input type="radio" id="match_2_2" name="match_2" value="2">
        <br>

        <label class="match"></label>
        <input type="radio" id="match_2_1" name="match_2" value="1">
        <input type="radio" id="match_2_x" name="match_2" value="X">
        <input type="radio" id="match_2_2" name="match_2" value="2">
        <br>

        <label class="match"></label>
        <input type="radio" id="match_2_1" name="match_2" value="1">
        <input type="radio" id="match_2_x" name="match_2" value="X">
        <input type="radio" id="match_2_2" name="match_2" value="2">
        <br>

        <label class="match"></label>
        <input type="radio" id="match_2_1" name="match_2" value="1">
        <input type="radio" id="match_2_x" name="match_2" value="X">
        <input type="radio" id="match_2_2" name="match_2" value="2">
        <br>
        <input type="submit" value="BET">

    </form>

    <button id="callTheAPI">Call the API</button>
    <button id="saveGame">Save the Game</button>
</div>
