@mixin flex {
  display: flex;
  flex-flow: row wrap;
}

$primaryLight: #6FFFE9;
$secondaryLight: #5BC0BE;
$darkOne: #050A1A;
$darkTwo: #070E24;
$darkMenu: #0B132B;
$darkThree: #0D1836;
$darkFour: #121C3C;
$darkFive: #131C37;
$darkSix: #101935;

* {
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  color: $primaryLight;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: $darkOne !important;
}

a {
  color: $primaryLight !important;
}

a:hover {
  text-decoration: none !important;
}

h2 {
  font-size: 18px !important;
}

.padding-0{
  padding-right:0;
  padding-left:0;
}

// Nav
nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  background-color: $darkMenu;
}

.nav-container {
  max-width: 1500px;
  margin: auto;
  padding: 10px 15px;
}

.menu {
  @include flex;
  width: 350px;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  padding-top: 5px;
  box-sizing: border-box;
  float: right;

  a#welcome {
    cursor: default;
  }

  a {
    margin-left: 30px;
    color: $secondaryLight !important;
  }

  a:hover {
    color: $primaryLight !important;
  }

}

.kiniela-logo {
  float: left;
}


.clear {
  clear: both;
}

// Main container
.main-container {
  max-width: 1450px;
  margin: auto;
  margin-top: 50px;
}

.column {
  padding: 25px;
  box-sizing: border-box;
}

.body-left {
  background-color: $darkSix;
  height: 100%;
}

.body-center {
  background-color: $darkFour;
  height: 100%;
}

.body-right {
  background-color: $darkTwo;
  height: 100%;
}


// Column left
.head-left {
  background-color: $darkFive;
  @include flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  h2 {
    color: $secondaryLight;
  }
  
}



.match img {
  margin-right: 10px;
}

.onex2-container {
  width: 100%;
  @include flex;
  justify-content: flex-end;
}

.onex2-items {
  width: 79px;
  @include flex;
  justify-content: space-between;
  margin-right: 12px;
  p {
    font-weight: bold;
  }
}

.match-container {
  @include flex;
  justify-content: space-between;
  align-items: center;
}

// Column center
.head-center {
  background-color: $darkThree;
  @include flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;

  img {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  h2 {
    color: $secondaryLight;
  }
}

.body-center p:first-child {
  color: $secondaryLight;
}

.body-center p {
  color: $secondaryLight;
}

.match-data-text p:nth-child(2) {
  color: $primaryLight;
}

.match-data {
  @include flex;
  justify-content: space-between;
}

.prob {
  // width: 90%;
  margin: 50px auto 10px auto !important;
}

.prob-data {
  margin: auto !important;
  padding-bottom: 20px;
  border-bottom: 1px solid $secondaryLight;
}

.item-prob {
  text-align: center;
  background-color: $secondaryLight;
  color: $darkFour;
  border: 1px solid $darkFour;
}

.data-prob {
  text-align: center;
  color: $primaryLight;
  font-size: 30px;
  font-weight: bold;
}

.left-prob {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.right-prob {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.h2h {
  margin-top: 50px;
  font-weight: bold;
  font-size: 14px;
}

.last-games {
  margin: auto;
 width: 80%;
}


.last-games p {
  color: $secondaryLight;
  font-size: 14px;
}

.scores-lg p {
font-weight: bold;
}

// Column right 
.last-kiniela h2, .last-k-round h2 {
  color: $secondaryLight;
}

.head-right {
  @include flex;
  justify-content: space-between;
  align-items: center;
}

.last-k-round {
  @include flex;
}

.last-k-round img {
  margin-left: 5px;
}

.res-head p {
  font-size: 14px;
  color: $secondaryLight;
}

// Buttons
.buttons-left {
  @include flex;
  justify-content: flex-end;
  margin-top: 20px;

}

.button {
  border-radius: 5px;
  border: 0px solid #000;
  padding: 10px;
  width: 150px;
}

.main-button {
  background-color: $primaryLight;
  color: $darkSix;
}

.secondary-button {
  background-color: $darkSix;
  color: $primaryLight;
  border: 1px solid $primaryLight;
  margin-right: 10px;
  display: none;
}

.main-button:hover,
.secondary-button:hover {
  font-weight: bold;
}


// Radio buttons
.radio-set {
  margin-top: -40px;
  width: 100px;
  @include flex;
  justify-content: space-between;
}


[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  border-radius: 10%;
  background: $primaryLight;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
  content: '';
  width: 17px;
  height: 17px;
  background: $darkSix;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 10%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="radio"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

// Scores 

.display-scores {
  width: 300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}



// Forms styles
.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group>input,
.form-label-group>label {
  height: 3.125rem;
  padding: .75rem;
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text;
  /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group>label {
    display: none;
  }

  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .form-label-group>label {
    display: none;
  }

  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}